<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><% include ./header %></div>
    <h1><%= node %></h1>
    <p>Welcome to <%= name %></p>
    <div>
      <% include ./footer %>
    </div>
  </body>
</html>
