<!DOCTYPE html>
<html>
  <head>
    <title>错误</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1 style="color:red">name not null</h1>
    <form class="" action="/nameErr" method="post">
      <input style="display:none" type="text" name="username" value=<%= user %>>
      <input type="submit" name="name" value="返回">
    </form>

  </body>
</html>
