<!DOCTYPE html>
<html>
  <head>
    <title>插入学生信息</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="" action="/insertStu" method="post">
      姓名：<input type="text" name="username" value=""> <br>
      年龄：<input type="text" name="age"> <br>
      邮箱：<input type="text" name="email"> <br>
      电话：<input type="text" name="phone"> <br>
      <input type="text" name="password" value="111111" style="display:none"><br>
      <input type="text" name="biao" value="0" style="display:none"><br>
      <input type="submit" name="submit" value="提交">
    </form>
  </body>
</html>
