<!DOCTYPE html>
<html>
  <head>
    <title>老师界面</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <style media="screen">
      a{
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1>welcome to <%= user%></h1>
    <a href="/insert">插入学生信息</a>
    <a href="/select">查看所有学生信息</a>
    <a href="/">退出</a>
  </body>
</html>
